body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;

    &-fluid {
        padding-left: 15px;
        padding-right: 15px;
    }
}

.app-content {
    padding-top: 58px;

    @include media-breakpoint-up(lg) {
        padding-top: 100px;
    }

    &.headerHide {
        padding-top: 0;
    }
}

.d-flex {
    display: flex;
}

.align-items-center {
    align-items: center
}

.justify-content-center {
    justify-content: center;
}

.justify-content-between {
    justify-content: space-between;
}

.flex-center {
    @extend .d-flex;
    @extend .align-items-center;
    @extend .justify-content-center;
}

.text-center {
    text-align: center;
}

.lazy-load-image-background {
    background-size: cover !important;
    background-position: center center !important;
}