.cart {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    padding: 55px 20px 15px;
    width: 100%;
    max-width: 500px;
    z-index: 1000;
    background-color: $white;

    @include media-breakpoint-up(lg) {
        border-left: 1px solid $black;
    }

    &-head {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15px 20px;
    }

    &-body {
        flex: 1;
        overflow-y: auto;
    }

    &-footer {
        padding-top: 10px;
        border-top: 1px solid $black;

        &__row {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }

    &-item {
        display: flex;
        margin-top: 15px;
        border: 1px solid $black;

        &__img {
            width: 100%;
            grid-area: img;
            max-width: 80px;
        }

        &__info {
            flex: 1;
            padding: 10px 15px;
        }

        &__desc {
            grid-area: desc;
        }

        &__price {
            grid-area: price;
        }

        &:first-child {
            margin-top: 0;
        }

        // &:last-child {
        //     border-bottom: 0;
        // }
    }

    &-quantity {
        position: relative;
        max-width: 120px;
        margin: 5px 0;

        &>button {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            height: 100%;
            background-color: transparent;
            width: 25px;
            border: 0;
            cursor: pointer;

            img {
                width: 12px;
            }
        }

        &__plus {
            left: 0;
        }

        &__minus {
            right: 0;
        }

        &__input {
            width: 100%;
            height: 32px;
            background-color: transparent;
            border: 1px solid $black;
            text-align: center;
        }
    }

    &__close {
        width: 30px;
        height: 30px;
        background-color: transparent;
        border: 0;
        cursor: pointer;

        img {
            width: 14px;
        }
    }

    &__checkout-btn {
        display: block;
        width: 100%;
        background-color: $black;
        color: $white;
        height: 44px;
        border: 1px solid $black;
        font-weight: 400;
        text-transform: uppercase;
        text-align: center;
        margin-top: 5px;
        transition: .2s all;
        cursor: pointer;

        &:hover {
            background-color: transparent;
            color: $black;
        }
    }
}