.hero {
    padding: 20px 0 30px;
    border-bottom: 3px dotted $gray-100;

    @include media-breakpoint-up(lg) {
        padding: 30px 0 50px;
    }

    &-grid {
        display: grid;
        grid-gap: 15px;

        @include media-breakpoint-up(lg) {
            grid-template-columns: repeat(2, 1fr);
        }


        img {
            width: 100%;
            float: left;
        }

        h2,
        h3,
        p {
            color: $white;
        }

        .btn {
            margin-top: 16px;
        }
    }

    &-banner {
        position: relative;
        text-align: center;
    }

    &__title {
        font-weight: 700;

        &-lg {
            font-size: rem(32px);
            text-align: center;

            @include media-breakpoint-up(lg) {
                font-size: 56px;
            }
        }
    }

    &__cards {
        @extend .hero-grid;
    }

    &-card {
        position: relative;
        text-align: center;

        &__top {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            width: 100%;
            height: 100%;
            padding: 15px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }

        &__content {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            &-hover {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                position: absolute;
                top: 16px;
                left: 16px;
                right: 16px;
                bottom: 16px;
                background-color: rgba(42, 42, 42, .97);
                opacity: 0;
                visibility: hidden;
                transition: .3s;

                * {
                    color: $white;
                }
            }
        }

        &:hover &__content-hover {
            opacity: 1;
            visibility: visible;
        }
    }
}