.dashboard {
    padding: 20px 16px;

    @include media-breakpoint-up(lg) {
        display: grid;
        grid-template-columns: 150px 1fr;
        padding: 30px 0;
    }

    @include media-breakpoint-up(xl) {
        grid-template-columns: 250px 1fr;
        grid-gap: 30px;
    }

    &-sidebar {

        @include media-breakpoint-up(lg) {
            padding-left: 20px;
        }

        &__link {
            display: block;
        }
    }

    &-main {
        @include media-breakpoint-up(lg) {
            padding-right: 20px;
        }
    }

    .products {
        @include media-breakpoint-down(lg) {
            overflow-x: auto;
        }
    }


    .product {
        box-shadow: 0 0 5px rgba(0, 0, 0, .1);
        margin-bottom: 10px;

        &__thumb {
            display: flex;
            align-items: center;

            @include media-breakpoint-down(lg) {
                min-width: 130px;
            }
        }

        &__img {
            width: 40px;
            height: 40px;
            border-radius: 50%;

            @include media-breakpoint-up(lg) {
                width: 60px;
                height: 60px;
            }
        }

        &__name {
            margin-left: 10px;
        }

        &__select {
            @include media-breakpoint-up(lg) {
                width: 115px;
            }
        }

        &__id {
            input {
                position: absolute;
                top: 50%;
                left: 10px;
                transform: translateY(-50%);
            }

            span {
                padding-left: 25px;
            }
        }

        &-action {
            a {
                padding: 10px;

                @include media-breakpoint-down(lg) {
                    font-size: 10px;
                    padding: 5px;
                }
            }

            &__edit {
                color: green;
            }

            &__remove {
                color: red;
            }
        }
    }
}

.table {
    display: table;
    // table-layout: fixed;
    width: 100%;
    border-spacing: 0 10px;

    &-row {
        display: table-row;
    }

    &-data,
    &-head {
        position: relative;
        display: table-cell;
        vertical-align: middle;
        padding: 8px;

        @include media-breakpoint-up(lg) {
            padding: 10px;
        }
    }

    &-data {

        p,
        span {
            @include media-breakpoint-down(lg) {
                font-size: 12px;
            }
        }
    }

    &-head {
        background-color: $gray-300;

        span {
            @include media-breakpoint-down(lg) {
                font-size: 12px;
            }
        }
    }
}